FLASK_SECRET_KEY=your_secret_key_here
INFURA_URL=https://ethereum-sepolia-rpc.publicnode.com
CONTRACT_ADDRESS=0x5006dDbb05Bf22D7074c4dD092598b15A79cE626
ADMIN_WALLET_ADDRESS=0xYourAdminWalletAddressHere
ADMIN_PRIVATE_KEY=your_private_key_here